<article class="product-detail">
    <img src="{{item.image}}">
    <h2>{{item.name}}</h2>
    <p>{{item.description}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Key Ingredients:</h3>
    <p>{{item.ingredients}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Benefits:</h3>
    <p>Intense Hydration: {{item.benefits}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Skin Type:</h3>
    <p>Suitable for: {{item.skin}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Price: ${{item.price}}</h3>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>People Who Recommend: {{item.recommendList.length}}</h3>
</article>

{{#if isAuthenticated}}
<div class="command">
    {{#if isOwner}}
    <a href="/cosmetic/{{item._id}}/edit">Edit</a>
    <a href="/cosmetic/{{item._id}}/delete">Delete</a>
    {{else if isVoted}}
    <p>You've already recommended this product!</p>
    {{else}}
    <a href="/cosmetic/{{item._id}}/recommend">Recommend</a>
    {{/if}}
</div>
{{/if}}