<section class="search-container">
    <h2>Search Products</h2>
    <form action="/search/items">
        <input type="text" id="search" name="search" value="{{filter.search}}" placeholder="Search for products...">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        {{#if items}}
        {{#each items}}
        <article class="product">
            <img src="{{image}}">
            <h3>{{name}}</h3>
            <p>Suitable for: {{skin}}</p>
            <a href="/cosmetic/{{_id}}/details">Read More</a>
        </article>
        {{/each}}
        {{else}}
        <p class="no-match">There are no products found yet!</p>
        {{/if}}
    </div>
</section>